<div class="container-fluid landingPageWrap">
    <!--<div class="signUpPopWrap px-4 pb-3 pt-2 position-fixed"><a href="#">Sign in</a> / <a href="#">Sign up</a></div>-->

    <div class="row align-items-center h-100 mt-5">

        {% include 'dashboard-sidebar' %}

        <div class="col-md-12 col-sm-12 col-xs-12 pl-5 mx-auto mt-4 pt-3">

            <div class="leftPart col-md-8 col-xs-12 float-left px-3 mt-4">
                <div class="col-12 px-0 landingHeading">
                    <h4 class="mb-3">
                        <span>New Arrival</span>
                    </h4>
                </div>
                <div class="row px-0 newArrivalCard">

                </div>

                <hr/>

                <div class="col-12 px-0 landingHeading">
                    <h4 class="mb-3">
                        <span>Total Figures</span>
                    </h4>
                </div>

                <div class="row px-0 totalFiguresCard">

                </div>

                <hr/>

                <div class="col-12 px-0 landingHeading">
                    <h4 class="mb-3 col-6">
                        <span>Today's Analytics</span>
                    </h4>
                </div>

                <div class="row px-0 todaysSaleCard mb-2">

                </div>
            </div>

            <div class="rightPart col-md-4 col-xs-12 float-left px-3 pt-md-4 pt-sm-0">
                <div class="card chatBoxWrap noteBoxWrap">
                    <div class="card-header d-flex align-items-center justify-content-between bg-white">
                        <div class="card-title mb-0">Notifications</div>
                    </div>
                    <ul class="list-group list-group-flush">

                    </ul>
                </div>


                <div class="card chatBoxWrap mt-4 mb-5">
                    <div class="card-header d-flex align-items-center justify-content-between bg-white">
                        <div class="card-title mb-0">Chat</div>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh">
                            <i class="fas fa-sync align-middle md-18"></i>
                        </a>
                    </div>
                    <ul class="list-group list-group-flush">

                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="row footerWrap">
        <footer></footer>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal" style="width: 100%; height:100%; opacity:1 !important">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">New Designer for Approval</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="row footerWrap">
    <footer></footer>
</div>
</div>