<div class="page-width text-center">
  <div class="section-header text-center">
    <h4 class="h3">Interior Designers - What is in it for you?</h4>
    <h4 class="h4">At Panacche, we pride ourselves in providing a marketplace for interior designers that makes it easy for them to showcase their creativity in design excellence.</h4>
   </div>
  
  <div class="grid grid--uniform right-bordered-grid1">
    <div class="grid__item small--one-half medium-up--one-quarter text-center mt-20">
      <img class="mt-20" src="https://cdn.shopify.com/s/files/1/0274/9775/8792/files/Group_59_50x50.png?v=1606474027" alt="">
      <p class="m-20"><b>Upload past design work or create fresh 3D, photo-realistic designs</p></b>
    </div>
    <div class="grid__item small--one-half medium-up--one-quarter text-center mt-20">
      <img class="mt-20" src="https://cdn.shopify.com/s/files/1/0274/9775/8792/files/Group_65_2x_8d35a59f-9484-4030-93b2-44de2db9472a_50x50.png?v=1606485566" alt="">
      <p class="m-20"><b>Panacche will market your designs on our site</p></b>
    </div>
    <div class="grid__item small--one-half medium-up--one-quarter text-center mt-20">
      <img class="mt-20" src="https://cdn.shopify.com/s/files/1/0274/9775/8792/files/Group_63_2x_f777e2bf-46d3-490d-8ad0-3ee5f4e5f858_50x50.png?v=1606485593" alt="">
      <p class="m-20"><b>Compensation that values your talent</p></b>
    </div>
    <div class="grid__item small--one-half medium-up--one-quarter text-center mt-20">
      <img class="mt-20" src="https://cdn.shopify.com/s/files/1/0274/9775/8792/files/Group_64_2x_b685c6a4-1f59-4491-9505-1954bb054e4e_50x50.png?v=1606485607" alt="">
      <p class="m-20"><b>Perfect opportunity to scale your business</p></b>
    </div>
  </div>
  
  <hr class="hr_bordered">
  
  <div class="grid grid--uniform right-bordered-grid1">
    <div class="grid__item small--one-half medium-up--one-quarter text-center mt-20">
      <img class="mt-20" src="https://cdn.shopify.com/s/files/1/0274/9775/8792/files/Group_76_2x_61e7d156-0dac-4e97-b732-aca6e1da2fb4_50x50.png?v=1606485861" alt="">
      <p class="m-20"><b>Focus on what you're best at - creativity!</p></b>
    </div>
    <div class="grid__item small--one-half medium-up--one-quarter text-center mt-20">
      <img class="mt-20" src="https://cdn.shopify.com/s/files/1/0274/9775/8792/files/Group_77_2x_b71c6155-7f36-486b-8212-288a56e1a165_50x50.png?v=1606485884" alt="">
      <p class="m-20"><b>Build your personal brand</p></b>
    </div>
    <div class="grid__item small--one-half medium-up--one-quarter text-center mt-20">
      <img class="mt-20" src="https://cdn.shopify.com/s/files/1/0274/9775/8792/files/Group_80_2x_7989d229-49de-45da-8cc9-84b6005c42ab_50x50.png?v=1606485908" alt="">
      <p class="m-20"><b>Make money each time your design sells</p></b>
    </div>
    <div class="grid__item small--one-half medium-up--one-quarter text-center mt-20">
      <img class="mt-20" src="https://cdn.shopify.com/s/files/1/0274/9775/8792/files/Group_79_2x_87b48dce-c303-46f0-be39-7f108b73b887_50x50.png?v=1606485930" alt="">
      <p class="m-20"><b>Create designs remotely and flexible working hours</p></b>
    </div>
  </div>
  
  <br><br>
  <a href="mailto:HR@panacche.com"><button type="button" class="btn btn_curved btn-secondary">Get Started - Email your Profile to Panacche</button></a>
</div>

<style>
  .shop-the-look {
  	background-color: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .right-bordered-grid .grid__item:not(:last-of-type) {
  	border-right: 1.5px solid #e4e4e4;
  }
  
  .hr_bordered {
  	border-bottom: 3px dashed #515DAA;
  }
  
  .btn_curved.btn-secondary{
  	font-family: Segoe UI;
    border-radius: 35px;
    background-color: #94D2D1;
  }
  
  @media (max-width: 768px) {
  	.shop-the-look {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
</style>

{% schema %}
  {
    "name": "How it works",
	"class": "shop-the-look",
    "settings": [],
	"presets": [
      {
        "name": "How it works",
        "category": "Home"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
