<div class="container-fluid landingPageWrap">

    <div class="row align-items-center h-100 pt-5">
        {% include 'dashboard-sidebar' %}

        <div class="col-md-12 col-sm-12 col-xs-12 pl-5 mx-auto mt-4 pt-3">

            <div class="row px-3 designOptions">
                <div class="col-md-3 col-sm-6 card text-center ml-3 mr-0 cardActive">
                    <div class="card-body">
                        <h5 class="card-title mb-0"><a href="create_new_design.html" id="create-design-btn" data=""><i class="fa fa-edit mr-3"></i>Create New Design</a></h5>
                    </div>
                </div>
            </div>



            <div class="leftPart col-md-8 col-xs-12 float-left pl-3 pr-0 mt-4">
                <div class="row px-3 dataCards mb-2">

                </div>

                <hr/>

                <div class="row px-3 mt-5">
                    <div class="col-12 px-0 landingHeading">
                        <h4 class="mb-4">
                            <span>Customers Using My Designs</span>
                        </h4>
                    </div>
                    <div class="col-12 px-0 responsiveTableWrap">
                        <table class="table landingTable">
                            <thead>
                                <tr>
                                    <th scope="col">START DATE</th>
                                    <th scope="col">DUE DATE</th>
                                    <th scope="col">CUSTOMER NAME</th>
                                    <th scope="col">DESIGN NAME</th>
                                    <th scope="col">EARNED AMOUNT</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">NOTIFICATION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td colspan="7"> 
                                <h4>There are no any customers</h4>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>

                <div class="row px-3 mt-2 mb-md-5">
<div class="col-12 px-0 landingHeading">
						<h4 class="mb-4 mt-lg-4 mt-md-0 col-xl-4 col-lg-12 col-12 float-left px-0">
							<span>My Designs</span>
						</h4>
						
						<div class="col-xl-4 col-lg-6 col-md-6 col-md-12 designOptions float-left mb-4 pr-lg-3 px-0">
							<div class="card text-center">
								<a href="{{ shop.url }}/pages/designer-view-all-orders">
									<div class="card-body">
										<h5 class="card-title mb-0"><i class="fa fa-folder-open mr-3"></i>Show All Order</h5>
									</div>
								</a>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6 col-md-12 designOptions float-left mb-4 pl-lg-3 px-0">
							<div class="card text-center">
								<a href="{{ shop.url }}/pages/designer-view-all-designs">
									<div class="card-body">
										<h5 class="card-title mb-0"><i class="fa fa-folder-open mr-3"></i>Show All Designs</h5>
									</div>
								</a>
							</div>
						</div>
						
					  </div>
                   
                    <div class="col-12 px-0">
                        <div class="row px-0 designCards">

                        </div>
                    </div>
                    <div class="col-12 float-left text-right px-0 mt-4">
                        <a href="{{shop.url}}/pages/view-all-designs"><button type="button" class="btn btn-primary loginBtn">View All</button></a>
                     </div>
                </div>

            </div>

            <div class="rightPart col-md-4 col-xs-12 float-left px-3">
                <div class="card chatBoxWrap noteBoxWrap mt-4">
                    <div class="card-header d-flex align-items-center justify-content-between bg-white">
                        <div class="card-title mb-0">Notifications</div>
                    </div>
                    <ul class="list-group list-group-flush">
                    </ul>
                </div>


                <div class="card chatBoxWrap mt-4 mb-5">
                    <div class="card-header d-flex align-items-center justify-content-between bg-white">
                        <div class="card-title mb-0">Chat</div>
                        <a data-original-title="Refresh" data-placement="bottom" data-toggle="tooltip" href="#" title="">
                            <i class="fas fa-sync align-middle md-18"></i>
                        </a>
                    </div>
                    <ul class="list-group list-group-flush">

                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="row footerWrap">
        <footer></footer>
    </div>
</div>
<!-- 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->