span.validation_error {
    color: #651818;
}

input.form-control.error {
    border: 1px solid #d20000 !important;
}

.spinner-border {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    /* to make it responsive */
    width: 100vw;
    /* to make it responsive */
    overflow: hidden;
    /*to remove scrollbars */
    z-index: 99999;
    /*to make it appear on topmost part of the page */
}

p.custom-file.addColor.addColorImg {
    background-position: center;
    background-size: cover;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    /* border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff; */
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loadingDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 99;
}

p.custom-file.mb-0.addImage {
    background-size: cover;
    background-position: center;
}

div#shopify-section-toast-message {
    position: absolute;
    z-index: 2222;
    top: 45px;
}

.gallery-page {
    padding-top: 230px;
}

.card-img {
    max-height: 230px;
}

.meetDesigners p {
    color: #ffffff;
}

.newArrivalCard .card .card-body .card-title p {
    color: #5462BD;
}

.newArrivalCard .card .card-body .card-title p:hover {
    color: #ffffff;
}

.newArrivalCard .card .card-body:hover .card-title p {
    color: #ffffff !important;
}

.newArrivalCard .card .card-title em {
    font-size: 8px !important;
}

.searchFilter .fa-search {
    position: absolute;
    left: 30px;
    top: 11px;
    z-index: 1;
    color: #707070;
}