body,
html {
    height: 100%;
    color: #6C757D;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #A0A0A0;
    float: left;
    width: 100%;
    margin-right: 0rem;
}

label em {
    color: #C3C0C0;
}

.font14 {
    font-size: 14px;
}

.borderradius6 {
    border-radius: 6px;
}

.defaultColor {
    color: #707070 !important;
}

.defaultBlueColor {
    background: #5462BD !important;
}

.mandetory {
    color: red;
}

.cancleBtn {
    width: 115px;
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid #E2E8EE;
    color: #5462BD;
}

.cancleBtn:hover {
    background: #2DBAB6;
    border: 1px solid #2DBAB6;
    color: #ffffff;
}

.responsiveTableWrap {
    display: block;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    ;
}


/*--------- Tooltip Css ---------*/

.tooltip-inner {
    background-color: #2DBAB6;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #2DBAB6 !important;
}


/*--------- Sign Up Popup Css ---------*/

.signUpPopWrap {
    background: #2DBAB6;
    right: -65px;
    top: 50%;
    margin-top: -20px;
    z-index: 11;
    color: #ffffff;
    transform: rotate(-90deg);
    box-shadow: 0 3px 3px rgb(0 0 0 / 6%);
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
}

.signUpPopWrap:hover {
    background: #5462BD;
}

.signUpPopWrap a {
    color: #ffffff;
}


/*------------------------
Login Screen
-------------------------*/

.loginWrapper a {
    color: #0089FF;
}

.loginform {
    border: 1px solid #E2E8EE;
    box-sizing: border-box;
    box-shadow: 0 3px 3px rgb(0 0 0 / 6%);
    border-radius: 8px;
}

.logo img {
    width: 120px;
}

input {
    border: 1px solid #E2E8EE !important;
}

input::placeholder {
    color: #BFBFBF !important;
    font-size: 14px !important;
}

.loginBtn {
    min-width: 115px;
    background: #5462BD;
    border-radius: 6px;
}

.loginBtn:hover {
    background: #2DBAB6;
    border: 1px solid #2DBAB6;
}

.cancelBtn {
    min-width: 115px;
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid #5462BD;
    color: #5462BD;
    position: relative;
}

.cancelBtn:hover {
    background: #2DBAB6;
    border: 1px solid #2DBAB6;
}

.loginBtn a {
    color: #ffffff;
    padding: 0px 20px;
    text-decoration: none;
}

.cancleBtn a {
    color: #ffffff;
    padding: 0px 20px;
    text-decoration: none;
    color: #5462BD;
}

.cancleBtn a:hover {
    color: #ffffff;
}

.designOptions .card .card-title a {
    color: #5462BD;
}

.loginSignupSelect .custom-select {
    display: inline-block;
    width: auto;
    padding: 0 1.75rem 0 .75rem;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: #0089FF;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
    border: 1px solid #E2E8EE !important;
    cursor: pointer;
}

.loginSignupSelect .custom-select:after {
    position: absolute;
    content: "+" !important;
    top: 0px;
    right: 0px;
    line-height: 2;
    padding: 0;
    color: #A0A0A0;
    background-color: transparent;
    border-radius: .25rem;
    font-size: 20px;
    width: 100%;
    text-align: center;
    height: 45px;
    cursor: pointer;
}

.fa-user-circle,
.fa-lock {
    position: absolute;
    left: 20px;
    color: #A0A0A0;
}

.fa-user-circle {
    bottom: 11px;
}

.fa-lock {
    bottom: 11px;
}


/*------------------------
Register Screen
-------------------------*/

.registerForm label {
    font-size: 14px;
}

.registerForm .form-check .form-check-input {
    cursor: pointer;
}

.custom-file-input {
    cursor: pointer;
}

.custom-file-label {
    border: 1px solid #E2E8EE;
    font-size: 12px !important;
    color: #C3C3C3;
}

.custom-file-label::after {
    content: "Upload" !important;
    top: 2px;
    right: 2px;
    height: calc(1.4em + .55rem);
    line-height: 1;
    padding: .375rem 1rem;
    color: #ffffff;
    background-color: #5462BD;
    border-radius: .25rem;
    font-size: 12px;
}

.custom-file-label2 {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + .75rem + 10px);
    padding: .375rem .75rem;
    overflow: hidden;
    font-weight: 400;
    line-height: 2;
    background-color: #fff;
    border-radius: .25rem;
    font-size: 12px !important;
    color: #C3C3C3;
}

.custom-file-label2::after {
    position: absolute;
    content: "Upload New Picture" !important;
    top: 0px;
    right: 0px;
    line-height: 2;
    padding: .375rem 1rem;
    color: #ffffff;
    background-color: #5462BD;
    border-radius: .25rem;
    font-size: 12px;
    width: 100%;
    text-align: center;
    height: 3em;
}

.addUserPic {
    width: 100px;
    height: 100px;
    position: relative;
    background: #ffffff;
    border: 1px solid #C3C0C0;
    border-radius: 50%;
    cursor: pointer;
    background: #C3C0C0;
    background-position: center;
    background-size: contain;
}

.addUserPic .custom-file-label {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1;
    height: 100px;
    padding: .375rem .75rem;
    overflow: hidden;
    font-weight: 400;
    line-height: 4;
    background-color: transparent;
    border-radius: .25rem;
    font-size: 12px !important;
    color: #C3C3C3;
    cursor: pointer;
    border: 0px;
}

.addUserPic .custom-file-label::after {
    position: absolute;
    content: "" !important;
    top: 0px;
    right: 0px;
    line-height: 2;
    padding: 0;
    color: #A0A0A0;
    background-color: transparent;
    border-radius: .25rem;
    font-size: 20px;
    width: 100%;
    text-align: center;
    height: 100px;
    cursor: pointer;
}

.addUserPic .custom-file-input {
    border: 0px;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100px;
    margin: 0;
    overflow: hidden;
    opacity: 0;
}

.addPicIcon {
    position: absolute;
    right: 0px;
    bottom: 0;
    color: #5462BD;
    font-size: 25px;
}


/*------------------------
Side Nav
-------------------------*/

.leftSideNav {
    background: #5462BD;
    top: 65px;
    left: 0;
    z-index: 1;
}

.leftSideNav .drawer-menu li {
    list-style: none;
}

.leftSideNav .drawer-menu .drawer-menu-item a {
    font-size: 20px;
    color: #D2D6ED;
}

.leftSideNav .drawer-menu .drawer-menu-item a:hover {
    color: #ffffff;
}

.leftSideNav .drawer-menu .drawer-menu-item a svg {
    fill: #D2D6ED;
}

.leftSideNav .drawer-menu .drawer-menu-item a svg:hover {
    fill: #ffffff;
}


/*------------------------
Top Navbar
-------------------------*/

.navbar {
    border-top: 3px solid #616FC5;
}

.navbar-nav li .dropdown-menu {
    right: 0 !important;
    left: auto;
}

.navMenus li a {
    color: #CAC9C9 !important;
}

.navMenus li a:hover {
    color: #5462BD !important;
}

.userBoxWrap .nav-link,
.registerLink .nav-link {
    color: #616FC5 !important;
}

.userBox {
    border: 0px;
    border-radius: 0px;
    min-width: 200px;
    box-shadow: 0px 0px 20px 0px #dfdfdf;
}

.userBox .upArrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 11px solid #ffffff;
    position: absolute;
    top: -10px;
    right: 5px;
}

.userBox .userName {
    font-size: 18px;
    color: #222222;
    text-transform: uppercase;
}

.userBox .userType {
    color: #222222;
    text-transform: uppercase;
    opacity: 50%;
    font-size: 14px;
}

.userBox .editButton {
    color: #222222;
    text-transform: uppercase;
    background: #2DBAB6;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    border-radius: 6px;
}

.userboxImgWrap {
    width: 60px;
    height: 60px;
    background: #ffffff;
    border: 1px solid #616FC5;
    position: relative;
}

.userLogout {
    background: #616FC5;
    color: #ffffff;
}

.userLogout a {
    color: #ffffff;
    text-decoration: none;
}

.smallUserPro {
    width: 26px;
    height: 26px;
    background: #616FC5;
    color: #ffffff;
}

.userboxImg {
    width: 51px;
    height: 50px;
    background: #616FC5;
    color: #ffffff;
    margin-left: 4px;
    margin-top: 4px;
    font-size: 30px;
}

.editUserImg {
    position: absolute;
    left: 0px;
    width: 22px;
    height: 22px;
    background: #2DBAB6;
    color: #ffffff;
    bottom: 0px;
    font-size: 10px;
    line-height: 23px;
    cursor: pointer;
}

.bellIcon {
    width: 26px;
    height: 26px;
    color: #616FC5;
    font-size: 22px;
}

@media (min-width: 1080px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (max-width: 1080px) {
    .navMenus {
        font-size: 14px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.7rem;
        padding-left: 0.7rem;
    }
}

@media (max-width: 992px) {
    .navMenus {
        display: none;
    }
    .navbar-nav {
        -ms-flex-direction: initial;
        flex-direction: initial;
    }
    .navbar {
        display: block;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
}


/*------------------------
Langing Page Screen
-------------------------*/

.landingPageWrap {
    background: #F2F2F2;
}

.designOptions .card,
.dataCards .card {
    background: #ffffff;
    border: 1px solid #E2E8EE !important;
    border-radius: 0px;
}

.designOptions .card {
    cursor: pointer;
}

.designOptions .card .card-title {
    color: #5462BD;
}

.designOptions .cardActive {
    background: #5462BD;
    border: 1px solid #5462BD !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.designOptions .cardActive .card-title a {
    color: #ffffff;
    text-decoration: none;
}

.designOptions .cardActive:hover {
    background: #2DBAB6;
    border: 1px solid #2DBAB6 !important;
}


/*----------------- Data Cards Css ----------------*/

.dataCards .card .card-title span {
    color: #5462BD;
    width: 100%;
    float: left;
}

.dataCards .card .card-title span:nth-child(1) {
    font-size: 16px;
}

.dataCards .card .card-title span:nth-child(2) {
    font-size: 40px;
    font-weight: bold;
}

.landingHeading h4 {
    font-weight: bold;
    color: #5462BD;
}

.galleryHeading h4 {
    font-weight: bold;
    color: #707070;
}


/*----------------- Table Css ----------------*/

.landingTable {
    border: 1px solid #E2E8EE;
}

.landingTable thead {
    background: #F5F9FB;
}

.landingTable tbody {
    background: #ffffff;
}

.landingTable .notifications {
    height: 23px;
    width: 23px;
    line-height: 18px;
}

.table td,
.table th {
    padding: .55rem 1rem;
    vertical-align: top;
    border-top: 1px solid #E2E8EE;
    font-size: 14px;
}

.table td .fa-address-book {
    color: #5462BD;
}

.table th {
    font-size: 12px;
}

.badge {
    display: inline-block;
    padding: .15rem .45rem;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-warning {
    color: #fff;
    background-color: #f5b666;
}

.badge-danger {
    color: #fff;
    background-color: #ff3d55;
}

.badge-success {
    color: #fff;
    background-color: #7bb859;
}


/*----------------- My Designs Cards Css ----------------*/

.designCards .card {
    border-radius: 0px;
}

.designCards .card-body {
    position: relative;
}

.card-img,
.card-img-bottom,
.card-img-top {
    border-radius: 0px;
}

.designCards .author-info {
    font-size: 19px;
    color: #5462BD;
}

.designCards .author-info p {
    padding-right: 15px;
}

.designCards .card-text {
    font-size: 19px;
    font-weight: bold;
    color: #575757;
}

.designCards .card-footer {
    font-size: 22px;
}

.designCards .card-footer a {
    color: #5462BD;
}

.newDesinIcon {
    position: absolute;
    right: 13px;
    top: 15px;
    z-index: 1;
}


/*----------------- Notifications box Css ----------------*/

.noteBoxWrap .noteDetails p {
    color: #A0A0A0;
    font-size: 12px;
    font-weight: bold;
}

.noteBoxWrap .noteDetails .viewMore {
    color: #0089FF;
    font-size: 14px;
    font-weight: normal;
}


/*----------------- chat box Css ----------------*/

.chatBoxWrap .card-header .fa-sync {
    color: #5462BD;
    font-size: 20px;
}

.chatBoxWrap .card-title {
    font-weight: bold;
    color: #5462BD;
    font-size: 24px;
}

.chatBoxWrap .media-body a {
    font-weight: bold;
    color: #5462BD;
    font-size: 16px;
}

.chatBoxWrap .media-body div small {
    color: #A0A0A0;
    font-size: 13px;
}

.chatBoxWrap .media .fa-circle {
    font-size: 10px;
}

.chatBoxWrap .dropdown .fa-comment-alt {
    font-size: 20px;
}


/*--------------------------------
Create New Design Page Screen
--------------------------------*/

.newDesignClose {
    color: #CB0000;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
}

.viewRemarkdrop {
    top: 45px !important;
    left: 0px !important;
    width: 340px;
    background: #5462BD;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    box-shadow: 0px 0px 20px 0px #dfdfdf;
}

.selectDropdown,
.textarea {
    border: 1px solid #E2E8EE;
    color: #707070;
}


/*---------- Steps Css -----------*/

.stepsWrap .stepsCount {
    font-size: 14px;
    font-style: italic;
}

.stepsWrap .stepsName span:nth-child(1) {
    width: 20px;
    height: 20px;
    float: left;
    border: 1px solid #707070;
    border-radius: 50%;
    background: #ffffff;
    margin-top: 3px;
}

.stepsWrap .stepsName .greenActive {
    border: 1px solid #00B41C !important;
    background: #00B41C !important;
}

.stepsWrap .stepsName .greenActiveText {
    color: #00B41C;
}

.stepsWrap .stepLine {
    border-top: 1px solid #707070;
}

.stepsWrap .stepArrow {
    position: absolute;
    color: #707070;
    top: 9px;
    left: 50%;
    font-size: 20px;
}


/*---------- Drag and Drop Css -----------*/

.dragandDropWrap {
    background: #ffffff;
    border-radius: 6px;
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #5462BD;
    border-color: transparent;
    text-decoration: underline;
}

.nav-tabs .nav-link {
    border: 0px solid transparent;
}

.nav-tabs .nav-link {
    color: #707070;
}

.dragDropBox {
    background: #F5F5F5;
    border-radius: 6px;
}

.dragDropBox p:nth-child(1) {
    width: 75px;
    height: 75px;
    border: 1px dashed #707070;
    border-radius: 12px;
    line-height: 75px;
    left: 50%;
    margin-left: -37px;
}

.dragDropBox .custom-file-label2 {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1;
    height: 74px;
    padding: .375rem .75rem;
    overflow: hidden;
    font-weight: 400;
    line-height: 4;
    background-color: transparent;
    border-radius: .25rem;
    font-size: 12px !important;
    color: #C3C3C3;
    cursor: pointer;
}

.dragDropBox .custom-file-label2::after {
    position: absolute;
    content: "+" !important;
    top: 0px;
    right: 0px;
    line-height: 2.5;
    padding: .375rem 1rem;
    color: #A0A0A0;
    background-color: transparent;
    border-radius: .25rem;
    font-size: 20px;
    width: 100%;
    text-align: center;
    height: 75px;
    cursor: pointer;
}

.dragDropBox p:nth-child(2) span {
    color: #0089FF;
    cursor: pointer;
}

.uploadedImages {
    height: 106px;
}

.uploadedFile {
    height: 90px;
    background: #BCB7B7;
    border-radius: 6px;
    position: relative;
}

.imageClose {
    position: absolute;
    right: 5px;
    top: 0px;
    color: #ffffff;
    cursor: pointer;
    z-index: 1;
}

.uploadedImage .imageClose {
    position: absolute;
    right: 5px;
    top: 0px;
    color: #8A8888;
    cursor: pointer;
    z-index: 1;
}

.createNewForm label {
    font-size: 14px;
}

.createNewForm .custom-file-label {
    height: 40px;
}

.createNewForm .custom-file-label::after {
    content: "Upload File" !important;
    right: 3px;
    line-height: 1.5;
    font-size: 13px;
    height: 33.5px;
}

.saveRoomWrap p:nth-child(1) {
    border-top: 1px solid #707070;
}

.disbaleBtn {
    opacity: 0.5;
    cursor: auto !important;
}


/*---------- Carousel Css -----------*/

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}


/* Bootstrap Lightbox using Modal */

#profile-grid {
    overflow: auto;
    white-space: normal;
}

#profile-grid .profile {
    padding-bottom: 40px;
}

#profile-grid .panel {
    padding: 0
}

#profile-grid .panel-body {
    padding: 15px
}

#profile-grid .profile-name {
    font-weight: bold;
}

#profile-grid .thumbnail {
    margin-bottom: 6px;
}

#profile-grid .panel-thumbnail {
    overflow: hidden;
}

#profile-grid .img-rounded {
    border-radius: 4px 4px 0 0;
}


/*---------- Add Color Table Css -----------*/

.addColor {
    width: 45px;
    height: 45px;
    position: relative;
    background: #ffffff;
    border: 1px solid #707070;
    border-radius: 50%;
    cursor: pointer;
}

.addColorIcon {
    position: absolute;
    left: 15px;
    top: 12px;
    color: #ffffff;
}

.addColorIcon2 {
    position: absolute;
    left: 16px;
    top: 12px;
    color: #A0A0A0;
    font-size: 11px;
}

.colorPaintTable {
    border-collapse: separate;
    border-spacing: 0 12px;
}

.colorPaintTable thead tr th {
    font-weight: normal;
    color: #707070;
}

.colorPaintTable tbody tr {
    background: #F5F5F5;
}

.colorPaintTable tr td,
.colorPaintTable tr th {
    vertical-align: middle;
    border-top: 0px;
    border-bottom: 0px;
    padding: 7px;
}

.colorPaintTable tbody tr td:first-child {
    border-radius: 6px 0px 0 6px;
}

.colorPaintTable tbody tr td:last-child {
    border-radius: 0 6px 6px 0;
}

.colorPaintTable tbody tr td .fa-save,
.colorPaintTable tbody tr td .fa-trash,
.colorPaintTable tbody tr td .addPlus {
    cursor: pointer;
}

.colorPaintTable tbody tr td .fa-trash {
    color: #CB0000;
}

.colorPaintTable tbody tr td .addPlus {
    color: #5462BD;
    font-size: 25px;
}

.addColor .custom-file-label2 {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1;
    height: 45px;
    padding: .375rem .75rem;
    overflow: hidden;
    font-weight: 400;
    line-height: 4;
    background-color: transparent;
    border-radius: .25rem;
    font-size: 12px !important;
    color: #C3C3C3;
    cursor: pointer;
}

.addColor .custom-file-label2::after {
    position: absolute;
    content: "+" !important;
    top: 0px;
    right: 0px;
    line-height: 2;
    padding: 0;
    color: #A0A0A0;
    background-color: transparent;
    border-radius: .25rem;
    font-size: 20px;
    width: 100%;
    text-align: center;
    height: 45px;
    cursor: pointer;
}


/*---------- Add Merchandise Table Css -----------*/

.addRefWrap {
    background: #ffffff;
    border-radius: 6px;
}

.addmerchBoxWrap label {
    font-size: 12px;
    font-weight: bold;
    color: #5462BD;
}

.addmerchBox {
    background: #F5F5F5;
}

.addmerchBox div:nth-child(1) p:nth-child(1),
.addmerchBox div:nth-child(1) p:nth-child(3),
.addmerchBox div:nth-child(2) p:nth-child(1),
.addmerchBox div:nth-child(2) p:nth-child(3),
.addmerchBox div:nth-child(2) p:nth-child(5) {
    font-size: 12px;
    font-weight: bold;
    color: #5462BD;
}

.addmerchBox div:nth-child(1) p:nth-child(2),
.addmerchBox div:nth-child(2) p:nth-child(2) {
    font-size: 28px;
    color: #707070;
}

.addmerchBox div:nth-child(1) p:nth-child(4),
.addmerchBox div:nth-child(3) p:nth-child(1) {
    font-size: 12px;
    color: #707070;
    position: relative;
    border-radius: 15px;
}

.addmerchBox div:nth-child(2) p:nth-child(4) {
    font-size: 12px;
    color: #5462BD;
}

.addmerchBox div:nth-child(2) .colorVariants div p:nth-child(1) {
    font-size: 12px;
    color: #707070;
    font-weight: normal;
}

.addmerchBox div:nth-child(2) .colorVariants div p:nth-child(2) span {
    width: 20px;
    height: 20px;
    border: 1px solid #707070;
    border-radius: 50%;
    float: left;
    margin: 0 4px;
}

.addmerchBox div:nth-child(2) .colorVariants div p:nth-child(2) span:nth-child(1) {
    background: #AC0B0B;
}

.addmerchBox div:nth-child(2) .colorVariants div p:nth-child(2) span:nth-child(2) {
    background: #600909;
}

.addmerchBox div:nth-child(2) .colorVariants div p:nth-child(2) span:nth-child(3) {
    background: #ffffff;
}

.addmerchBox div:nth-child(2) p:nth-child(6) {
    font-size: 28px;
    color: #707070;
}

.addmerchBox div:nth-child(3) p:nth-child(2) {
    max-height: 140px;
    overflow: hidden;
    border-radius: 15px;
}

.addmerchBox div:nth-child(3) p:nth-child(2) img {
    width: 100%;
}

.deleteUpload,
.deleteUpload2 {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #CB0000;
    font-size: 14px;
    cursor: pointer;
}

.addMearchForm {
    background: #F5F5F5;
    border-radius: 6px;
}

.addMearchForm label {
    font-size: 14px;
}

.italicLabel {
    font-size: 14px;
    font-style: italic;
}

.addMearchForm .imageRefUpload {
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid #E2E8EE;
}

.addMearchForm .imageRefUpload p {
    color: #707070;
    font-size: 18px;
}

.addMearchForm .imageRefUpload .addImage {
    height: 100px;
    position: relative;
    background: #ECECEC;
    border: 1px dashed #707070;
    border-radius: 6px;
    cursor: pointer;
}

.addMearchForm .imageRefUpload .addImage .custom-file-input {
    height: 100px;
}

.addMearchForm .imageRefUpload .addImage .custom-file-label2 {
    height: 98px;
    padding: 0;
    line-height: 2;
    background-color: transparent;
    color: #C3C3C3;
}

.addMearchForm .imageRefUpload .addImage .custom-file-label2::after {
    content: "+" !important;
    line-height: 3;
    padding: 0;
    color: #707070;
    background-color: transparent;
    font-size: 27px;
    height: 100px;
    font-weight: bold;
}

.addMearchForm .imageRefUpload .addImage .addImageIcon {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -3px;
    margin-top: -10px;
}

.addMearchForm .imageRefUpload .addImageText {
    font-size: 12px;
    line-height: 16px;
}

.addMearchForm .uploadedImage {
    max-height: 218px;
    overflow: auto
}

.addMearchForm .uploadedImage div p {
    min-height: 100px;
    border: 1px solid #707070;
    border-radius: 6px;
    position: relative;
}

.addmerchBox .uploadedImage {
    height: 115px;
    overflow: auto;
}

.addmerchBox .uploadedImage div p {
    height: 100px;
    border: 1px solid #707070;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.registerForm .fa-times {
    font-size: 30px;
}


/*---------- Submit Successfully Model Css -----------*/

.modelLogo img {
    width: 120px;
}

.subDesignPop .modal-header {
    border-bottom: 0px;
}

.modal-header .close {
    padding: 1rem 1rem 1rem 0rem;
    margin: -1rem -1rem -1rem 0rem;
}

.subDesignPop .modal-footer {
    border-top: 0px;
}

.subDesignPop .modal-body p:nth-child(1) {
    font-size: 35px;
    color: #2DBAB6;
}

.subDesignPop .modal-body p:nth-child(2) {
    font-size: 28px;
    color: #5462BD;
    font-weight: bold;
}

.subDesignPop .modal-body p:nth-child(3) {
    font-size: 12px;
    color: #707070;
}


/*--------------------------------
Create New Design Page View Mode
--------------------------------*/

.remarkAdddrop {
    top: -8px !important;
}

.createNewFormView label,
.colorPaintTableView thead tr th {
    font-size: 16px;
    font-weight: bold;
}

.colorPaintTableView {
    border-collapse: separate;
    border-spacing: 0px 0px !important;
}

.colorPaintTableView tbody tr {
    background: #ffffff;
}

.approveBtn {
    background: #00B41C;
    border: 1px solid #00B41C;
}

.rejectBtn {
    background: #CB0000;
    border: 1px solid #CB0000;
}

.brownColor {
    background: #81082C;
}

.approveBtn:hover,
.rejectBtn:hover {
    background: #2DBAB6;
    border: 1px solid #2DBAB6;
}

.yellowColor {
    background: #E9C016;
}

@media (max-width: 760px) {
    .remarkAdddrop {
        top: 230px !important;
    }
}

@media (max-width: 575px) {
    .remarkAdddrop {
        top: 12px !important;
    }
}


/*------------------------
Gallery Page Css
-------------------------*/

.searchBar {
    background: #2DBAB6;
    margin-top: 65px;
    z-index: 1000;
}

.searchBar input,
.searchBar button {
    border-radius: 20px;
    height: 35px;
    line-height: 0px;
}

.searchBar button {
    background: #5462BD;
    border: 1px solid #5462BD;
}

.searchBar .fa-search {
    position: absolute;
    left: 30px;
    top: 10px;
    z-index: 1;
    color: #707070;
}

.searchTagBar {
    background: #ffffff;
    margin-top: 124px;
    z-index: 1000;
}

.searchTagBar .searchTag {
    background: #ffffff;
    border: 1px solid #5462BD;
    border-radius: 6px;
    color: #5462BD;
}

.searchTagBar .searchTag .fa-times-circle {
    cursor: pointer;
}

.galleryHead {
    background: #5462BD;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 124px;
}

.meetDesigners {
    background: #5462BD;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.meetDesigners p:nth-child(1) {
    text-transform: uppercase;
}

.meetDesigners p:nth-child(2) {
    font-size: 14px;
    font-weight: normal;
    padding: 0 20%;
}

.viewMorebtn button {
    background: #707070;
    border: 1px solid #707070;
    border-radius: 20px;
    height: 35px;
    line-height: 0px;
}

.viewMorebtn button:hover {
    background: #5462BD;
    border: 1px solid #5462BD;
}

.galleryBack a {
    color: #8B8B8B;
}

.galleryBack span {
    background: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 0 3px 6px #c1c1c1;
}

.ourDesignersCards .cardChekbox .form-check-input {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.ourDesignersCards .designerProf {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.ourDesignersCards .card {
    border-radius: 30px;
}

.ourDesignersCards .card .author-info p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
    color: #707070;
    line-height: 24px;
}

.ourDesignersCards .card .author-info p:nth-child(2) {
    color: #707070;
    font-size: 13px;
    font-style: italic;
}

.ourDesignersCards .card .author-info p:nth-child(3) {
    font-weight: bold;
    color: #A0A0A0;
    font-size: 15px;
}

.ourDesignersCards .card .author-info p:nth-child(3) .fa-star {
    color: #5462BD;
}

.ourDesignersCards .card .author-info p:nth-child(4) {
    color: #A0A0A0;
    font-size: 13px;
    text-align: left;
}

.ourDesignersCards .card .author-info p:nth-child(5) button {
    background: #5462BD;
}

.ourDesignersCards .card .author-info p:nth-child(5) button:hover {
    background: #2DBAB6;
    border-color: #2DBAB6;
}

.deleteUpload2 {
    right: 16px;
}


/*--------------------------------
Admin Dashboard CSS
--------------------------------*/

.newArrivalCard .card,
.todaysSaleCard .card {
    background: none;
    border: none;
    border-radius: 0px;
}

.newArrivalCard .card a,
.todaysSaleCard .card a {
    text-decoration: none;
    color: #5462BD;
}

.newArrivalCard .card .card-body {
    background: #ffffff;
    border: 1px solid #5462BD;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.newArrivalCard .card .card-body:hover {
    background: #2DBAB6;
    color: #ffffff;
    border: 1px solid #2DBAB6;
}

.newArrivalCard .card .card-title,
.todaysSaleCard .card .card-title {
    font-size: 19px;
    font-weight: 500;
    line-height: 20px;
}

.newArrivalCard .card .card-title em {
    font-size: 9px;
    line-height: 10px;
    font-weight: normal;
}

.newArrivalCard .card .card-body div:nth-child(2) {
    font-size: 40px;
    font-weight: bold;
}

.todaysSaleCard .card .card-body {
    text-decoration: none;
    color: #5462BD;
    background: #ffffff;
    border: 1px solid #5462BD;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.todaysSaleCard .card .card-body:hover {
    background: #2DBAB6;
    color: #ffffff;
    border: 1px solid #2DBAB6;
}

.totalFiguresCard .card {
    background: none;
    border: none;
    border-radius: 0px;
}

.totalFiguresCard .card a {
    color: #5462BD;
}

.totalFiguresCard .card .card-body {
    background: #ffffff;
    border: 1px solid #5462BD;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.totalFiguresCard .card .card-body:hover {
    background: #2DBAB6;
    color: #ffffff;
    border: 1px solid #2DBAB6;
}

.totalFiguresCard .card .card-title span {
    width: 100%;
    float: left;
}

.totalFiguresCard .card .card-title span:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}

.totalFiguresCard .card .card-title span:nth-child(2) {
    font-size: 40px;
    font-weight: bold;
}

.todaysSaleCard .card .card-body div:nth-child(2) {
    font-size: 40px;
    font-weight: bold;
}

.todaysSaleHead p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}

.todaysSaleHead p:nth-child(2) em {
    font-size: 14px !important;
    font-weight: normal;
}

.dashboardGraph .card {
    background: #5462BD;
    min-height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}


/*---------- Designers Approve Cards Css -----------*/

.viewAllLink a {
    font-size: 14px;
    line-height: 40px;
    color: #5462BD;
}

.viewAllLink a:hover {
    color: #2DBAB6;
}

.designersApproveCards .cardChekbox {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 9px;
    right: 7px;
}

.designersApproveCards .cardChekbox .form-check-input {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.designersApproveCards .designerProf {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.designersApproveCards .card {
    border-radius: 0px;
}

.designersApproveCards .card .author-info p:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: #707070;
    line-height: 24px;
}

.designersApproveCards .card .author-info p:nth-child(2) {
    color: #A0A0A0;
    font-size: 12px;
}

.designersApproveCards .card .author-info p:nth-child(3) {
    font-weight: bold;
    color: #A0A0A0;
    font-size: 10px;
}

.designersApproveCards .card .author-info p:nth-child(3) .fa-star {
    color: #5462BD;
}

.designersApproveCards .card .author-info p:nth-child(4) {
    font-weight: bold;
    color: #A0A0A0;
    font-size: 13px;
}

.designersApproveCards .card .author-info p:nth-child(5) button {
    background: #5462BD;
}

.designersApproveCards .card .author-info p:nth-child(5) button:hover {
    background: #2DBAB6;
    border-color: #2DBAB6;
}


/*------------------------
Show All Designs
-------------------------*/

.showAllContent .fa-search {
    position: absolute;
    left: 30px;
    top: 11px;
    z-index: 1;
    color: #707070;
}

.showAllContent .searchInput {
    border-radius: 6px;
    line-height: 0px;
}

.showAllTabs .nav-item .active {
    color: #5462BD;
    border-color: transparent;
    text-decoration: none;
    background-color: transparent;
}

.showAllContent .showallTable {
    background: #ffffff;
    min-height: 500px;
    border-radius: 6px;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 5%);
}

.showAllContent .landingTable {
    border-collapse: separate;
    border-spacing: 0 12px;
}

.showAllContent .landingTable tbody tr {
    background: rgba(45, 186, 182, 0.13);
}

.showAllContent .landingTable tbody tr td,
.showAllContent .landingTable thead tr th,
.showAllContent .landingTable {
    border: none;
}

.showAllContent .landingTable tbody tr td {
    padding: 1rem 1rem;
}

.showAllContent .landingTable thead tr th {
    padding: 0.3rem 1rem 1rem 1em;
}

.showAllContent .tableHeaderBorder {
    position: absolute;
    top: 0;
    height: 20px;
    z-index: 11;
    background: #5462BD;
}


/*--------------------------------
New Designer Page CSS
--------------------------------*/

.newDesignerProfile p {
    width: 200px;
    height: 200px;
    border: 3px solid #5462BD;
    border-radius: 50%;
    background: #ffffff;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 9px 0px #dfdfdf;
    background-position: center;
    background-size: cover;
}

.newDesignerdownlaodDoc {
    background: #ffffff;
    border-radius: 6px;
}

.submitedText {
    background: #ffffff;
    border: 1px solid #E2E8EE;
    border-radius: 6px;
}

.businessAddress {
    min-height: 125px;
}


/*--------------------------------
Footer CSS
--------------------------------*/

.footerWrap {
    background: #D9D9D9;
    height: 75px;
}

.galleryfooterWrap {
    background: #414141;
}

.galleryfooterWrap p:nth-child(1) span a {
    background: #1A1A1A;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    padding: 8px 12px;
}

.galleryfooterWrap p:nth-child(2) a {
    color: #ffffff;
}

.galleryfooterWrap p:nth-child(4) {
    background: #3C3C3C;
    color: #B1B1B1;
}