{{ content_for_index }}

 {% if shop.customer_accounts_enabled %} {% if customer %}

<div id="shopify-section-1607978525b0bb3c20" class="shopify-section index-section"><div class="page-width rich-text">
  <div class="grid">
    <div class="grid__item ">
      
        <div class="rich-text__heading--small text-center">
          <h2 class="h3">Frequently Asked Questions</h2>
        </div>     
      
        <div class="rich-text__text--small rte-setting text-center"><p><strong>1. Is there a cost for Interior designers to join Panacche?</strong></p><p>Panacche is FREE for interior designers to create an account and sell designs as part of our initial launch offering.</p><p><strong>2. Is there a cap on how many designs, a designer can upload?</strong></p><p>There is no cap on the number of designs currently, however this can change in the future with the increasing designer traffic.</p><p><strong>3. Do designs have to go through an approval process?</strong></p><p>Yes, all designs whether newly created or an update have to go through an approval process first before publishing to the sales flow.</p><p><strong>4. What are the design criteria?</strong></p><p>All the designs have to photo-realistic and in 4k, 3d rendering. Each room design should contain pictures from all the angles of a room. A moodboard should also be provided.</p><p><strong>5. What furniture, decor items can be used for generating designs?</strong></p><p>All the furniture, decor used in the design should be from the vendor who we have partnered with. The furniture, decor should be real-shoppable items.</p><p><strong>6. Is there a minimum number of designs required to join Panacche?</strong></p><p>Yes at a minimum, we need at least 10 designs submitted to join Panacche. You can choose to submit more. More designs submission will result into more sales and in turn will result into more commission.</p><p><strong>7. What are the customer deliverables once designs sell that the designer is responsible for?</strong></p><p>Here are the deliverables that the designer is responsible for when their design sells.</p><p><strong>a. Design Implementation Guide: </strong>This outlines on how to execute the design for the customers to achieve the look.   <strong>b.</strong> <strong>Shopping List      c.</strong> <strong>Interact with the customer</strong> on Panacche platform to answer their questions or make up to 3 changes to the design purchased.    <strong>d.</strong> <strong>Create Floor plan</strong> for the customer space.     <strong>e.</strong> <strong>3D Rendering</strong> of the customer's space with the purchased and updated design.   <strong>f.</strong> <strong>Paint palette</strong></p></div>
      
    </div>
  </div>
</div>
</div>

{% endif %}
{% endif %}

{% section 'custom-footer' %}