<div class="row searchBar fixed-top">
    <div class="col-lg-6 col-md-8 col-sm-12 text-center mx-auto py-2">
        <form class="my-1 text-center col-12 float-left">
            <div class="col-10 float-left">
                <i class="fas fa-search"></i>
                <input type="search" class="form-control col-12 float-left pl-5" placeholder="Search">
            </div>
            <div class="col-2 float-left px-0">
                <button type="submit" class="btn btn-primary float-left col-12">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="row searchTagBar fixed-top px-4 py-2">
    <div class="searchTag mx-2 px-2 py-1">
        Traditional <i class="fas fa-times-circle ml-2"></i>
    </div>
    <div class="searchTag mx-2 px-2 py-1">
        Modern <i class="fas fa-times-circle ml-2"></i>
    </div>
</div>

<div class="container-fluid landingPageWrap">
    <div class="row galleryHead py-2">
        <div class="text-center col-12">
            OUR DESIGNS
        </div>
    </div>

    <div class="row px-5 mt-5">
        <div class="col-12 px-0 galleryHeading">
            <h4 class="mb-4">
                <span>TRADITIONAL</span>
            </h4>
        </div>
        <div class="col-12 px-0">
            <div class="row px-0 designCards">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="images/design1.jpg" class="card-img cover-photo" alt="Cover">
                        <div class="card-body p-3">
                            <div class="d-flex align-items-center mb-2">
                                <div class="author-img">
                                    <img src="images/person-2.jpg" alt="Person" class="img-fluid rounded-circle mr-1" style="width:35px">
                                </div>
                                <div class="author-info">
                                    <p class="mb-0">Beautiful Boy’s Den</p>
                                </div>
                            </div>
                            <p class="card-text">$ 300.00</p>
                        </div>
                        <div class="card-footer d-flex">
                            <a href="#" class="social social-instagram mr-3"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="social social-facebook text-facebook mr-3"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="social social-pinterest mr-3"><i class="fab fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-4 mt-md-0 mt-sm-0 mt-lg-0">
                    <div class="card">
                        <img src="images/design1.jpg" class="card-img cover-photo" alt="Cover">
                        <div class="card-body p-3">
                            <div class="d-flex align-items-center mb-2">
                                <div class="author-img">
                                    <img src="images/person-2.jpg" alt="Person" class="img-fluid rounded-circle mr-1" style="width:35px">
                                </div>
                                <div class="author-info">
                                    <p class="mb-0">Rockstar Room</p>
                                </div>
                            </div>
                            <p class="card-text">$ 300.00</p>
                        </div>
                        <div class="card-footer d-flex">
                            <a href="#" class="social social-instagram mr-3"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="social social-facebook text-facebook mr-3"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="social social-pinterest mr-3"><i class="fab fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-4 mt-md-4 mt-lg-0">
                    <div class="card">
                        <img src="images/design1.jpg" class="card-img cover-photo" alt="Cover">
                        <div class="card-body p-3">
                            <div class="d-flex align-items-center mb-2">
                                <div class="author-img">
                                    <img src="images/person-2.jpg" alt="Person" class="img-fluid rounded-circle mr-1" style="width:35px">
                                </div>
                                <div class="author-info">
                                    <p class="mb-0">Beautiful Boy’s Den</p>
                                </div>
                            </div>
                            <p class="card-text">$ 300.00</p>
                        </div>
                        <div class="card-footer d-flex">
                            <a href="#" class="social social-instagram mr-3"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="social social-facebook text-facebook mr-3"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="social social-pinterest mr-3"><i class="fab fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-4 mt-md-4 mt-lg-0">
                    <div class="card">
                        <img src="images/design1.jpg" class="card-img cover-photo" alt="Cover">
                        <div class="card-body p-3">
                            <div class="d-flex align-items-center mb-2">
                                <div class="author-img">
                                    <img src="images/person-2.jpg" alt="Person" class="img-fluid rounded-circle mr-1" style="width:35px">
                                </div>
                                <div class="author-info">
                                    <p class="mb-0">Beautiful Boy’s Den</p>
                                </div>
                            </div>
                            <p class="card-text">$ 300.00</p>
                        </div>
                        <div class="card-footer d-flex">
                            <a href="#" class="social social-instagram mr-3"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="social social-facebook text-facebook mr-3"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="social social-pinterest mr-3"><i class="fab fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row px-5 mt-4">
        <div class="col-12 px-0">
            <div class="row px-0 designCards">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card">
                        <img src="images/design1.jpg" class="card-img cover-photo" alt="Cover">
                        <div class="card-body p-3">
                            <div class="d-flex align-items-center mb-2">
                                <div class="author-img">
                                    <img src="images/person-2.jpg" alt="Person" class="img-fluid rounded-circle mr-1" style="width:35px">
                                </div>
                                <div class="author-info">
                                    <p class="mb-0">Beautiful Boy’s Den</p>
                                </div>
                            </div>
                            <p class="card-text">$ 300.00</p>
                        </div>
                        <div class="card-footer d-flex">
                            <a href="#" class="social social-instagram mr-3"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="social social-facebook text-facebook mr-3"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="social social-pinterest mr-3"><i class="fab fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-4 mt-md-0 mt-sm-0 mt-lg-0">
                    <div class="card">
                        <img src="images/design1.jpg" class="card-img cover-photo" alt="Cover">
                        <div class="card-body p-3">
                            <div class="d-flex align-items-center mb-2">
                                <div class="author-img">
                                    <img src="images/person-2.jpg" alt="Person" class="img-fluid rounded-circle mr-1" style="width:35px">
                                </div>
                                <div class="aut
                                <div class=" author-info ">
                                    <p class="mb-0 ">Rockstar Room</p>
                                </div>
                            </div>
                            <p class="card-text ">$ 300.00</p>
                        </div>
                        <div class="card-footer d-flex ">
                            <a href="# " class="social social-instagram mr-3 "><i class="fab fa-instagram "></i></a>
                            <a href="# " class="social social-facebook text-facebook mr-3 "><i class="fab fa-facebook "></i></a>
                            <a href="# " class="social social-pinterest mr-3 "><i class="fab fa-pinterest "></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-4 mt-md-4 mt-lg-0 ">
                    <div class="card ">
                        <img src="images/design1.jpg " class="card-img cover-photo " alt="Cover ">
                        <div class="card-body p-3 ">
                            <div class="d-flex align-items-center mb-2 ">
                                <div class="author-img ">
                                    <img src="images/person-2.jpg " alt="Person " class="img-fluid rounded-circle mr-1 " style="width:35px ">
                                </div>
                                <div class="author-info ">
                                    <p class="mb-0 ">Beautiful Boy’s Den</p>
                                    design</div>
                            </div>
                            <p class="card-text ">$ 300.00</p>
                        </div>
                        <div class="card-footer d-flex ">
                            <a href="# " class="social social-instagram mr-3 "><i class="fab fa-instagram "></i></a>
                            <a href="# " class="social social-facebook text-facebook mr-3 "><i class="fab fa-facebook "></i></a>
                            <a href="# " class="social social-pinterest mr-3 "><i class="fab fa-pinterest "></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-4 mt-md-4 mt-lg-0 ">
                    <div class="card ">
                        <img src="images/design1.jpg " class="card-img cover-photo " alt="Cover ">
                        <div class="card-body p-3 ">
                            <div class="d-flex align-items-center mb-2 ">
                                <div class="author-img ">
                                    <img src="images/person-2.jpg " alt="Person " class="img-fluid rounded-circle mr-1 " style="width:35px ">
                                </div>
                                <div class="author-info ">
                                    <p class="mb-0 ">Beautiful Boy’s Den</p>
                                </div>
                            </div>
                            <p class="card-text ">$ 300.00</p>
                        </div>
                        <div class="card-footer d-flex ">
                            <a href="# " class="social social-instagram mr-3 "><i class="fab fa-instagram "></i></a>
                            <a href="# " class="social social-facebook text-facebook mr-3 "><i class="fab fa-facebook "></i></a>
                            <a href="# " class="social social-pinterest mr-3 "><i class="fab fa-pinterest "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row px-5 mt-4 pb-5 ">
        <div class="col-12 px-0 ">
            <div class="row px-0 designCards ">
                <div class="col-lg-3 col-md-6 col-sm-6 ">
                    <div class="card ">
                        <img src="images/design1.jpg " class="card-img cover-photo " alt="Cover ">
                        <div class="card-body p-3 ">
                            <div class="d-flex align-items-center mb-2 ">
                                <div class="author-img ">
                                    <img src="images/person-2.jpg " alt="Person " class="img-fluid rounded-circle mr-1 " style="width:35px ">
                                </div>
                                <div class="author-info ">
                                    <p class="mb-0 ">Beautiful Boy’s Den</p>
                                </div>
                            </div>
                            <p class="card-text ">$ 300.00</p>
                        </div>
                        <div class="card-footer d-flex ">
                            <a href="# " class="social social-instagram mr-3 "><i class="fab fa-instagram "></i></a>
                            <a href="# " class="social social-facebook text-facebook mr-3 "><i class="fab fa-facebook "></i></a>
                            <a href="# " class="social social-pinterest mr-3 "><i class="fab fa-pinterest "></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-4 mt-md-0 mt-sm-0 mt-lg-0 ">
                    <div class="card ">
                        <img src="images/design1.jpg " class="card-img cover-photo " alt="Cover ">
                        <div class="card-body p-3 ">
                            <div class="d-flex align-items-center mb-2 ">
                                <div class="author-img ">
                                    <img src="images/person-2.jpg " alt="Person " class="img-fluid rounded-circle mr-1 " style="width:35px ">
                                </div>
                                <div class="author-info ">
                                    <p class="mb-0 ">Rockstar Room</p>
                                </div>
                            </div>
                            <p class="card-text ">$ 300.00</p>
                        </div>
                        <div class="card-footer d-flex ">
                            <a href="# " class="social social-instagram mr-3 "><i class="fab fa-instagram "></i></a>
                            <a href="# " class="social social-facebook text-facebook mr-3 "><i class="fab fa-facebook "></i></a>
                            <a href="# " class="social social-pinterest mr-3 "><i class="fab fa-pinterest "></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-4 mt-md-4 mt-lg-0 ">
                    <div class="card ">
                        <img src="images/design1.jpg " class="card-img cover-photo " alt="Cover ">
                        <div class="card-body p-3 ">
                            <div class="d-flex align-items-center mb-2 ">
                                <div class="author-img ">
                                    <img src="images/person-2.jpg " alt="Person " class="img-fluid rounded-circle mr-1 " style="width:35px ">
                                </div>
                                <div class="author-info ">
                                    <p class="mb-0 ">Beautiful Boy’s Den</p>
                                </div>
                            </div>
                            <p class="card-text ">$ 300.00</p>
                        </div>
                        <div class="card-footer d-flex ">
                            <a href="# " class="social social-instagram mr-3 "><i class="fab fa-instagram "></i></a>
                            <a href="# " class="social social-facebook text-facebook mr-3 "><i class="fab fa-facebook "></i></a>
                            <a href="# " class="social social-pinterest mr-3 "><i class="fab fa-pinterest "></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-4 mt-md-4 mt-lg-0 ">
                    <div class="card ">
                        <img src="images/design1.jpg " class="card-img cover-photo " alt="Cover ">
                        <div class="card-body p-3 ">
                            <div class="d-flex align-items-center mb-2 ">
                                <div class="author-img ">
                                    <img src="images/person-2.jpg " alt="Person " class="img-fluid rounded-circle mr-1 " style="width:35px ">
                                </div>
                                <div class="author-info ">
                                    <p class="mb-0 ">Beautiful Boy’s Den</p>
                                </div>
                            </div>
                            <p class="card-text ">$ 300.00</p>
                        </div>
                        <div class="card-footer d-flex ">
                            <a href="# " class="social social-instagram mr-3 "><i class="fab fa-instagram "></i></a>
                            <a href="# " class="social social-facebook text-facebook mr-3 "><i class="fab fa-facebook "></i></a>
                            <a href="# " class="social social-pinterest mr-3 "><i class="fab fa-pinterest "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
$(document).ready(function(e){
     $("#shopify-section-toast-message").on("load", function(e) {
            $("#shopify-section-toast-message").addClass('hide');
        });
});
</script>
{{ 'our_designs,js' | asset_url | script_tag }}