<div class="row searchBar fixed-top">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 text-center mx-auto py-2">
        <form class="my-1 text-center col-12 float-left">
            <div class="col-12 float-left">
                <i class="fas fa-search"></i>
                <input type="search" class="form-control col-12 float-left pl-5" placeholder="Search">
            </div>
        </form>
    </div>
</div>

<div class="row searchTagBar fixed-top galleryHead px-5 py-2">
    <form class="w-100" id="search-design-form">
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 float-left
            galleryHeadText">
            Panacche Design Gallery
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6 float-left">
            <div class="form-group mt-2 mb-2">
                <input list="room-budget-datalist" name="room_budget" id="room_budget" placeholder="Room Budget" />

                <datalist id="room-budget-datalist">
                    <option data-value="0,5000" value="< $ 5000"></option>
                    <option data-value="5000,10000" value="$5000 - $ 10000"></option>
                    <option data-value="10000,15000" value="$10000 - $ 15000"></option>
                    <option data-value="15000,20000" value="$15000 - $ 20000"></option>
                    <option data-value="20000,50000" value="> $ 20000"></option>
                </datalist>

            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6 float-left">
            <div class="form-group mt-2 mb-2">
                <input list="room-style-datalist" name="room_style" id="room_style" placeholder="Select Room Style" />

                <datalist id="room-style-datalist">
                    <option data-value="Modern" value="Modern"></option>
                    <option data-value="Traditional" value="Traditional"></option>
                    <option data-value="Transitional" value="Transitional"></option>
                    <option data-value="Glamorous" value="Glamorous"></option>
                    <option data-value="Vintage" value="Vintage"></option>
                    <option data-value="Rustic" value="Rustic"></option>
                    <option data-value="Farmhouse" value="Farmhouse"></option>
                    <option data-value="Beach" value="Beach"></option>
                    <option data-value="Minimal" value="Minimal"></option>
                    <option data-value="Mid-century" value="Mid-century"></option>
                    <option data-value="Industrial" value="Industrial"></option>
                    <option data-value="Eclectic" value="Eclectic"></option>
                    <option data-value="Bohemian" value="Bohemian"></option>
                </datalist>

            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6 float-left">
            <div class="form-group mt-2 mb-2">
                <input list="designer-datalist" name="designer_id" id="designer_id" placeholder="Enter Designer Name" />

                <datalist id="designer-datalist"></datalist>

            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6 float-left">
            <div class="form-group mt-2 mb-2">
                <input list="room-type-datalist" name="room_type" id="room_type" placeholder="Select Room Type" />

                <datalist id="room-type-datalist">
                    <option data-value="Family Room" value="Family Room"></option>
                    <option data-value="Office" value="Office"></option>
                    <option data-value="Dining Room" value="Dining Room"></option>
                    <option data-value="Foyer" value="Foyer"></option>
                    <option data-value="Bedroom" value="Bedroom"></option>
                    <option data-value="Mudroom" value="Mudroom"></option>
                    <option data-value="Nursery" value="Nursery"></option>
                    <option data-value="Kids Room" value="Kids Room"></option>
                    <option data-value="Living Room" value="Living Room"></option>
                    <option data-value="Patio" value="Patio"></option>
    </datalist>

            </div>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12
                float-left">
            <div class="form-group mt-2 mb-2">
                <button type="button" class="btn btn-warning" id="apply-search-btn">Apply</button>
            </div>
        </div>
    </form>
</div>



<div class="container-fluid landingPageWrap gallery-page">


</div>

{% section 'custom-footer' %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{{ 'carousel.js' | asset_url | script_tag }} {{ 'gallery.js' | asset_url | script_tag }}