<div class="row searchBar fixed-top mx-0">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 text-center mx-auto py-2">
        <form class="my-1 text-center col-12 float-left">
            <div class="col-12 float-left">
                <i class="fas fa-search"></i>
                <input type="search" class="form-control col-12 float-left pl-5" placeholder="Search">
            </div>
        </form>
    </div>
</div>
<div class="container-fluid landingPageWrap">
    <div class="row meetDesigners pb-3">
        <div class="text-center col-12">
            <p>MEET OUR DESIGNERS</p>
            <p>We are the one stop shop where Priceless designs meet Affordability. We are passionate about building beautiful homes and believe that access to good quality designs should be within the reach of our customers.</p>
        </div>
    </div>
    <div class="row px-5 mt-4">
        <div class="col-12 px-0">
            <div class="row px-0 designCards ourDesignersCards">
               
            </div>
        </div>
    </div>
</div>

{% section 'custom-footer' %}



{{ 'our-designers.js' | asset_url | script_tag }}