<h1>Create Design</h1>

<h1> hello</h1>
<form id="create-design" >
    <input type="text" name="design_name" value="mycollection" />
    <input type="text" name="room_budget" value="$2000" />
    <input type="text" name="room_type" value="bedroom" />
    <input type="text" name="room_style" value="modern" />
    <input type="text" name="implementation_guide_description" value="implementation_guide_description description text lorem ipsum" />

    <button type="submit">Submit</button>
</form>


{{ 'create_design.js' | asset_url | script_tag }}



