<link href="https://cdn.shopify.com/s/files/1/0560/9304/8991/t/3/assets/chatbox.css?v=7903071315139148175" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdn.shopify.com/s/files/1/0560/9304/8991/t/3/assets/select-dropdown-with-image.css?v=7903071315139148175" rel="stylesheet" type="text/css" media="all" />
<script src="https://cdn.shopify.com/s/files/1/0560/9304/8991/t/3/assets/select-dropdown-with-image.js?v=7903071315139148175" type="text/javascript"></script>
<style>
.page-container{
  -webkit-transform: translate3d(0, 0, 0);
    transform: none;
}

</style>
{% if customer.id == blank %}
    <div class="row searchBar fixed-top  mx-0">
     <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 text-center mx-auto py-2">
        <form class="my-1 text-center col-12 float-left">
           <div class="col-12 float-left">
              <i class="fas fa-search" aria-hidden="true"></i>
              <input type="search" class="form-control col-12 float-left pl-5" placeholder="Search">
           </div>
        </form>
     </div>
    </div>
{% endif %}

<div class="container-fluid">
    <div class="row align-items-center h-100">
            <div class="col-md-12 col-sm-12 col-xs-12 mx-auto mt-5 pl-5 {% if customer.id == blank %} pt-5 designDetails {% else %} pt-2 {% endif %}">
                <div class="col-md-12 float-left backBtn mt-5 {% if customer.id == blank %} px-0 {% endif %}">
                    <a href="/pages/gallery" class="float-left"><span><i class="fas fa-arrow-left"></i></span></a>
                    {% if customer.id %}
                        <div class="float-right lastLogin">
                        <p class="mb-0">Your Last Login was</p>
                        <p class="mb-0">01/01/2021. 12:00 PM</p>
                        </div>
                    {% endif %}
               </div>
           </div>
       </div>
    <div class="landingPageWrapBuyDesigner">
    </div>
</div>
<input type="hidden" value="{{ customer.id }}" name="customer"/>
<!-- Submit Buy Design Popup Modal -->
<div class="modal fade subDesignPop" id="buyDesignpop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-0 px-2">
                <p class="text-center mx-auto modelLogo mt-3"><img src="images/panacche_logo.jpg"></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
            </div>
            <div class="modal-body text-center py-0">
                <p class="text-center mb-0"><i class="fas fa-clock"></i></p>
                <p>Thank you for your patience!</p>
                <p class="mb-0">We are hunting for the best deal and we will send you an invoice soon for you to approve and make a payment.</p>
            </div>
            <div class="modal-footer text-center d-block pb-4">
                <button type="button" class="btn btn-primary loginBtn"><a href="landing_page.html">My Dashboard</a></button>
            </div>
        </div>
    </div>
</div>

<!-- Media Modal -->
<div class="modal fade" id="galleryPop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-0 border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
       </button>
            </div>
            <div class="modal-body">
                <img class="img-fluid popup-img" src="" alt="">
            </div>
        </div>
    </div>
</div>
{{ 'buy_design.js' | asset_url | script_tag }}