<div class="container-fluid landingPageWrap">
    <div class="row align-items-center h-100 append-data">
    </div>
</div>
<div class="text-center">
    <div class="spinner-border hide text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
{{ "new_arrival_pending.js" | asset_url | script_tag }}