</div>
</div>
<section class="header-bg-inner">
  <div class="page-width">
  <div class="text-center">
        {% include 'breadcrumb' %}
      <h1>{{ page.title }}</h1>
   
    </div>
  </div>
</section>
<div class="bottom-pages-section">
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
</div>
