<div class="container-fluid landingPageWrap" id="content">

</div>

<script>
$(document).ready(function(e){
     $("#shopify-section-toast-message").on("load", function(e) {
            $("#shopify-section-toast-message").addClass('hide');
        });
});
</script>
{{ 'view_all.js' | asset_url | script_tag }}