<div class="container-fluid landingPageWrap">

</div>

<script>
$(document).ready(function(e){
     $("#shopify-section-toast-message").on("load", function(e) {
            $("#shopify-section-toast-message").addClass('hide');
        });
});
</script>
{{ 'view-designs-under-review-designer.js' | asset_url | script_tag }}