<div class="container-fluid landingPageWrap">
</div>
<input type="hidden" value="{{ customer.id }}" name="customer"/> 
       
<script>
$(document).ready(function(e){
     $("#shopify-section-toast-message").on("load", function(e) {
            $("#shopify-section-toast-message").addClass('hide');
        });
});
</script>    
{{ 'designer_all_designs.js' | asset_url | script_tag }}