<div class="container-fluid landingPageWrap">
    <div class="row align-items-center h-100 append-data">
    </div>
</div>

<script>
$(document).ready(function(e){
     $("#shopify-section-toast-message").on("load", function(e) {
            $("#shopify-section-toast-message").addClass('hide');
        });
});
</script>

{{ "new_arrival_pending.js" | asset_url | script_tag }}