<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="section-header">
        <div class="form-vertical">
        <form id="reset-password-form">
 <input type="hidden" name="shop" value="{{shop.domain}}" />
          <input type="hidden" name="domain" value="{{shop.domain}}" />
            <label for="Password">Password</label>
            <input type="password" value="" name="password" id="password" class="">
            <span class="validation_error"></span>

            <label for="PasswordConfirmation">Confirm Password</label>
            <input type="password" value="" name="confirm_password" id="confirm_password" class="">
            <span class="validation_error"></span>

            <input type="submit" class="btn text-center" id="reset-password-btn" value="Reset Password">
        
        </form> 
        </div>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(e){
     $("#shopify-section-toast-message").on("load", function(e) {
            $("#shopify-section-toast-message").addClass('hide');
        });
});
</script>
{{ 'reset_password.js' |  asset_url  | script_tag }}
